zed/
mozilla/
configstore/
gatsby/
.DS_STORE
.gsd-keyboard.settings-ported
1Password/
BraveSoftware/
GNOME-xdg-terminals.list
chromium/
dconf/
enchant/
evolution/
gnome-initial-setup-done
google-chrome-beta/
google-chrome-unstable/
google-chrome/
gtk-3.0/
ibus/
microsoft-edge-dev/
mimeapps.list
monitors.xml
monitors.xml~
pulse/
tiling-assistant/
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
vivaldi-snapshot/
vivaldi/
xdg-terminals.list
